main .sidebar-left {
	form {
		margin-bottom:20px;
		padding:30px;
		background:#eaeaea;
		border:1px solid #ccc;
	}
	input {
		width:100%;
		margin-bottom:10px;
	}
	.welcome-message {
		padding:30px;
		background:#eaeaea;
		border:1px solid #ccc;
	}
}
